<% provide(:title, 'About Us')  %>
<h1>About Us</h1>
<p>
  The <a href="https://blazing-light-4700.herokuapp.com/">Ethio Tender App on the Cloud</a>
  is a project to make tender system easy for businesses in Ethiopia.
  with <a href="https://blazing-light-4700.herokuapp.com/">Ethio Tender</a>. This
  is the sample application for the tender.
</p>

