<% provide(:title, 'Help') %>
<h1>Help</h1>
<p>
  Get help on our app at the
  <a href="https://blazing-light-4700.herokuapp.com/">Ethio Tender App</a>.
  To get help on this sample app, see the
  <a href="https://blazing-light-4700.herokuapp.com/">Ethio Tender App</a>.
</p>

