<footer class="footer">
  <small>
    <a href="https://blazing-light-4700.herokuapp.com/">Ethio Tender App</a> by
    <a href= "http://www.linkedin.com/pub/mathias-abdissa/30/82/4b3"><b>Mathias Abraham </b></a>
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",   about_path %></li>
      <li><%= link_to "Contact", contact_path %></li>
      <li><a href="https://blazing-light-4700.herokuapp.com/">News</a></li>
    </ul>
  </nav>
</footer>

